:root {
    --blue: #1e90ff;
    --dot: #ffffff;
    --player1: rgb(0, 188, 226);
    --player2: rgb(0, 255, 179);
    --player3: rgb(255, 0, 117);
    
    --player4: rgb(255, 191, 0);
}


.enter
{
    padding-bottom: 100px;
    
}
.enterFlex
{
    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
}

.enterboard {
    margin-top: 30px;
    color: rgb(204, 203, 203);
    width: 420px;
    height: auto;
    background: rgb(1, 1, 1);
    border-radius: 20px;
    
    border-width: 20px;
    border-style: solid;
    border-color: black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;


}

.name_board
{
    text-align: center;
    
    padding: 10px;
    
}

.enter_play
{
    width:50%;
    padding: 10px;
    border-radius: 200px;
    margin-top: 40px;
    
    background-color: orange;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 6px;
}

.enterName
{
    width: 80%;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0);
    
    text-align: center;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius:200px ;
    font-weight: bold;
    margin-top: 5px;
    border-style: solid ;
    border-width: 5px;
    
}
.enterName1
{
    border-color: var(--player1);
}
.enterName2
{
    border-color: var(--player2);
}
.enterName3
{
    border-color: var(--player3);
}
.enterName4
{
    border-color: var(--player4);
}
.enterName:focus
{
   
    outline: none;
}
.enterName:active
{
    border-style: none;
}
.dot {
    width: 1%;
    height: 6px;
    padding: 0px;
    background: var(--dot);
}

.bar_h {
    width: 1%;
    height: 40px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.14)
}

.bar_v {
    width: 7%;
    height: 7px;
    border-width: 0px;
    border-radius: 9px;
    margin-right: 1%;
    margin-left: 1%;
    background: rgba(255, 255, 255, 0.08);
    padding: 0px;
}

.box {
    width: 8%;
    height: 40px;
    border-radius: 7px;
    margin-right: .5%;
    margin-left: .5%;
    padding: 0px;
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.btn_menu {
    font-size: 24px;
    padding: 0px;
    border-radius: 77px;
    width: 50px;
    height: 50px;
    font-family: ABeeZee, sans-serif;
    background: var(--orange);
    color: rgb(255, 255, 255);
    margin: 15px;
    border-style: none;
}

.menu {
    margin-top: 30px;
    width: 80px;
    height: 600px;
    text-align: left;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    padding-left: 0px;
    padding-bottom: 100px;

    margin-right: 15%;
    margin-left: 15%;
    background: rgba(6, 4, 3, 0.17);
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: 575px;
    
}

.scoreHeading {

    position: relative;
    top: 55px;
    font-family: Acme, ABeeZee;
    font-size: 50px;
    font-weight: bolder;
    color: orange;
    text-shadow: 0.0px 10.0px 0.02px #000, 9.8px 2.1px 0.02px #000, 4.2px -9.1px 0.02px #000, -8.0px -6.0px 0.02px #000, -7.6px 6.5px 0.02px #000, 4.8px 8.8px 0.02px #000, 9.6px -2.8px 0.02px #000, -0.7px -10.0px 0.02px #000, -9.9px -1.5px 0.02px #000, -3.5px 9.4px 0.02px #000, 8.4px 5.4px 0.02px #000, 7.1px -7.0px 0.02px #000, -5.4px -8.4px 0.02px #000, -9.4px 3.5px 0.02px #000, 1.4px 9.9px 0.02px #000, 10.0px 0.8px 0.02px #000, 2.9px -9.6px 0.02px #000, -8.7px -4.8px 0.02px #000, -6.6px 7.5px 0.02px #000, 5.9px 8.0px 0.02px #000, 9.1px -4.1px 0.02px #000, -2.1px -9.8px 0.02px #000, -10.0px -0.1px 0.02px #000, -2.2px 9.8px 0.02px #000, 9.1px 4.2px 0.02px #000, 6.1px -8.0px 0.02px #000, -6.5px -7.6px 0.02px #000, -8.8px 4.7px 0.02px #000, 2.7px 9.6px 0.02px #000, 10.0px -0.6px 0.02px #000, 1.5px -9.9px 0.02px #000, -9.3px -3.6px 0.02px #000, -5.5px 8.4px 0.02px #000, 7.0px 7.2px 0.02px #000, 8.5px -5.3px 0.02px #000, -3.4px -9.4px 0.02px #000, -9.9px 1.3px 0.02px #000, -0.8px 10.0px 0.02px #000, 9.6px 2.9px 0.02px #000, 4.9px -8.7px 0.02px #000, -7.5px -6.7px 0.02px #000, -8.1px 5.9px 0.02px #000, 4.0px 9.2px 0.02px #000, 9.8px -2.0px 0.02px #000, 0.2px -10.0px 0.02px #000, -9.7px -2.3px 0.02px #000, -4.3px 9.0px 0.02px #000, 7.9px 6.1px 0.02px #000
}
.Scores
{
    background-color: rgb(23, 23, 23);
    padding: 20px;
    border-radius: 20px;

}
.scoreboard {
    margin-top: 30px;
    color: rgb(204, 203, 203);
    width: 20vw;
    height: auto;
    background: rgb(1, 1, 1);
    border-radius: 20px;
    
    border-width: 20px;
    border-style: solid;
    border-color: black;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;


}

.scoreItem {
    background-color: rgb(243, 243, 243);
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-width: 3px;
    border-style: solid; */
    /*box-shadow: 0px 0px 9px 0px var(--player4);*/

}

.btn_score {
    font-size: 18px;
    padding: 0px;
    border-radius: 77px;
    width: 50px;
    height: 50px;
    font-family: ABeeZee, sans-serif;
    margin-right: 10px;
    border-style: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.name {
    font-size: 24px;
    font-weight: bold;
    font-family: Acme, ABeeZee, sans-serif;
    color: black;
}

.king {
    font-size: 24px;
    padding-left: 10px;
    color: gold;
}

.pl1 {
    background: var(--player1);
    box-shadow: 0px 0px 11px 0px var(--player1);
}

.pl2 {
    background: var(--player2);
    box-shadow: 0px 0px 11px 0px var(--player2);
}

.pl3 {
    background: var(--player3);
    box-shadow: 0px 0px 11px 0px var(--player3);
}

.pl4 {
    background: var(--player4);
    box-shadow: 2px 2px 8px 0px var(--player4);
}


.bl1 {
    background: var(--player1);
   
}

.bl2 {
    background: var(--player2);
    
}

.bl3 {
    background: var(--player3);
    
}

.bl4 {
    background: var(--player4);
    
}

.pls1 {

    box-shadow: 0px 0px 10px 2px var(--player1);
}

.pls2 {


    box-shadow: 0px 0px 10px 2px var(--player2);
}

.pls3 {


    box-shadow: 0px 0px 10px 2px var(--player3);
}

.pls4 {


    box-shadow: 0px 0px 10px 2px var(--player4);
}

.box1
{
    background-color: rgba(0, 188, 226);
    box-shadow: 0px 0px 10px 2px rgba(0, 188, 226);
}
.box2
{
    background-color: rgb(0, 255, 179);
    box-shadow: 0px 0px 10px 2px rgba(0, 255, 179);
}

.box3
{
    background-color: rgba(255, 0, 117);
    box-shadow: 0px 0px 10px 2px rgba(255, 0, 117);
}
.box4
{
    background-color: rgba(255, 191, 0);
    box-shadow: 0px 0px 10px 2px rgba(255, 191, 0);
}


.align-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}



ul {
    list-style: none;
    padding: 0px;
}
#myBtn 
{
    display: none;
}
#scoreFlex
{
    
    display: flex;justify-content: center;align-items: center; flex-direction: column;
    margin-left: 40px;
    
}
.Winner
{
    background-image: url('/assets/img/6ob.gif');
    background-size: 15%;
}
#winFlex
{
    position: relative;
    width: 100%;
    top:30px;
    left:40%;
    padding-bottom: 250px;
    
    
    
}

#mlab
{
    text-decoration: none;
    margin-bottom: 0px;
    text-align: center;
    font-family:Acme, ABeeZee, sans-serif;
    color: #000;
}


/* TABLET */

@media only screen and (max-width: 1200px) 
{
    #myBtn 
    {
        display: block;
    }
    #scoreFlex
    {
        
      display: none;
        
    }
    
    .main {
        margin-right: 0px;
        margin-left: 0px;
    }

    .menu {
        width: 20px;
        padding-right: 6vw;
    }

    .scoreboard {
        width: 200px;
        padding: 2px;
        margin: 10px;
        margin-top: 30px;
    }

    .name {
        font-size: 16px;
    }

    .score {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .box
    {
        font-size: 18px;
    }
}

/* PHONE */
@media only screen and (max-width: 750px) {
     .main {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
     }

    .menu {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        height: auto;
        width: 100%;
        margin-top: 0px;
        text-align: center;
    }

    .game {
        text-align: center;
        width: 100vw;
        padding: 0px;
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bar_h {
        height: 7vw;

    }

    .box {
        height: 7vw;
    }

     .scoreboard
    {
        width: 80%;
    } 
     #winFlex
     {
         left:10px;
     }
    
}









/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #0000007e;
    padding: 5%;
    padding-top: 50px; 
    width: 100%;
    height: 100%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close 
  {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    left:15%;
     top:-20px; 
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
 
  
  /* ///////////////////////////// ACTIVE KEYS ///////////////////////////////// */


.btn:active
{
    box-shadow: 0px 0px 0px 0px;
}
.btn_player1
{
    background-color: var(--player1);
    box-shadow: 0px 0px 10px 2px var(--player1);
}
.btn_player2
{
    background-color: var(--player2);
    box-shadow: 0px 0px 10px 2px var(--player2);
}
.btn_player3
{
    background-color: var(--player3);
    box-shadow: 0px 0px 10px 2px var(--player3);
}
.btn_player4
{
    background-color: var(--player4);
    box-shadow: 0px 0px 10px 2px var(--player4);
}






/* //////////////////////////////// CELEBRATIOn /////////////////// */


  